arm_template_V1/linkedTemplates/ArmTemplate_29.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "hc-eim-df-prod2"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/ODS_CNCT_cfgConfigurationCenter')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SF_DL_CreatedcfgConfigurationCenter",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetCreatecfgConfigurationCenterFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM cfgConfigurationCenter\nWHERE CreateDate >='@{pipeline().parameters.LastCreateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_cfgConfigurationCenter",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_cfgConfigurationCenter",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('CreatedcfgConfigurationCenterFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "SetCreatecfgConfigurationCenterFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "CreatedcfgConfigurationCenterFileName",
                            "value": {
                                "value": "@Replace(concat('Create_cfgConfigurationCenter_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SetUpdatecfgConfigurationCenterFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "UpdatedcfgConfigurationCenterFileName",
                            "value": {
                                "value": "@Replace(concat('Updated_cfgConfigurationCenter_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SF_DL_UpdatedcfgConfigurationCenter",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetUpdatecfgConfigurationCenterFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM cfgConfigurationCenter\nWHERE LastUpdate >='@{pipeline().parameters.LastUpdateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_cfgSalesCode",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_cfgConfigurationCenter",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('UpdatedcfgConfigurationCenterFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "ODS_CNCT_CreatedcfgConfigurationCenter",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SF_DL_CreatedcfgConfigurationCenter",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "SF_DL_UpdatedcfgConfigurationCenter",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_cfgConfigurationCenter",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTcfgConfigurationCenter": {
                                        "Object_File_Name": {
                                            "value": "@variables('CreatedcfgConfigurationCenterFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODScfgConfigurationCenter": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "ODS_CNCT_UpdatecfgConfigurationCenter_copy1",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "ODS_CNCT_CreatedcfgConfigurationCenter",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_cfgConfigurationCenter",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTcfgConfigurationCenter": {
                                        "Object_File_Name": {
                                            "value": "@variables('UpdatedcfgConfigurationCenterFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODScfgConfigurationCenter": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "LastCreateDate": {
                        "type": "string"
                    },
                    "LastUpdateDate": {
                        "type": "string"
                    },
                    "LARunId": {
                        "type": "string"
                    }
                },
                "variables": {
                    "CreatedcfgConfigurationCenterFileName": {
                        "type": "String"
                    },
                    "SimpleQuote": {
                        "type": "String",
                        "defaultValue": "'"
                    },
                    "UpdatedcfgConfigurationCenterFileName": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Connect/ODS"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:37:53Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ODS_CNCT_cfgAccumulator')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SF_DL_CreatedcfgAccumulator",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetCreatecfgAccumulatorFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM cfgAccumulator\nWHERE CreateDate >='@{pipeline().parameters.LastCreateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_cfgAccumulator",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_cfgAccumulator",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('CreatedcfgAccumulatorFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "SetCreatecfgAccumulatorFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "CreatedcfgAccumulatorFileName",
                            "value": {
                                "value": "@Replace(concat('Create_cfgAccumulator_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SetUpdatecfgAccumulatorFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "UpdatedcfgAccumulatorFileName",
                            "value": {
                                "value": "@Replace(concat('Updated_cfgAccumulator_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SF_DL_UpdatedcfgAccumulator",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetUpdatecfgAccumulatorFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM cfgAccumulator\nWHERE LastUpdate >='@{pipeline().parameters.LastUpdateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_cfgAccumulator",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_cfgAccumulator",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('UpdatedcfgAccumulatorFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "ODS_CNCT_CreatedcfgAccumulator",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SF_DL_CreatedcfgAccumulator",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "SF_DL_UpdatedcfgAccumulator",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_cfgAccumulator",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTcfgAccumulator": {
                                        "Object_File_Name": {
                                            "value": "@variables('CreatedcfgAccumulatorFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODScfgAccumulator": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "ODS_CNCT_UpdatecfgAccumulator",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "ODS_CNCT_CreatedcfgAccumulator",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_cfgAccumulator",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTcfgAccumulator": {
                                        "Object_File_Name": {
                                            "value": "@variables('UpdatedcfgAccumulatorFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODScfgAccumulator": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "LastCreateDate": {
                        "type": "string"
                    },
                    "LastUpdateDate": {
                        "type": "string"
                    },
                    "LARunId": {
                        "type": "string"
                    }
                },
                "variables": {
                    "CreatedcfgAccumulatorFileName": {
                        "type": "String"
                    },
                    "SimpleQuote": {
                        "type": "String",
                        "defaultValue": "'"
                    },
                    "UpdatedcfgAccumulatorFileName": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Connect/ODS"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:37:57Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ODS_CNCT_datAppointmentEmployee')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SF_DL_CreateddatAppointmentEmployee",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetCreatedatAppointmentEmployeeFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM datAppointmentEmployee\nWHERE CreateDate >='@{pipeline().parameters.LastCreateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_datAppointmentEmployee",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_datAppointmentEmployee",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('CreateddatAppointmentEmployeeFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "SetCreatedatAppointmentEmployeeFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "CreateddatAppointmentEmployeeFileName",
                            "value": {
                                "value": "@Replace(concat('Create_datAppointmentEmployee_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SetUpdateddatAppointmentEmployeeFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "UpdateddatAppointmentEmployeeFileName",
                            "value": {
                                "value": "@Replace(concat('Updated_datAppointmentEmployee_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SF_DL_UpdateddatAppointmentEmployee",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetUpdateddatAppointmentEmployeeFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM datAppointmentEmployee\nWHERE LastUpdate >='@{pipeline().parameters.LastUpdateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_datAppointmentEmployee",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_datAppointmentEmployee",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('UpdateddatAppointmentEmployeeFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "ErrorNotification",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "ODS_CNCT_Apointment_Update",
                                "dependencyConditions": [
                                    "Failed",
                                    "Skipped"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "url": "https://prod-46.eastus2.logic.azure.com:443/workflows/04f510f1120b42ee8301c5db8d393580/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ycpAPQcmDk4Y5NcgZHjRvPkU7b-8eDQARyLP8fxsVzk",
                            "method": "POST",
                            "headers": {},
                            "body": {
                                "PipielineRunId": "@{pipeline().runID}",
                                "PipelineName": "@{pipeline().pipeline}",
                                "FailedDateTime": "@{utcnow()}"
                            }
                        }
                    },
                    {
                        "name": "ODS_CNCT_datAppointmentEmployee",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SF_DL_CreateddatAppointmentEmployee",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "SF_DL_UpdateddatAppointmentEmployee",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_datAppointmentEmployee",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTdatAppointmentEmployee": {
                                        "Object_File_Name": {
                                            "value": "@variables('CreateddatAppointmentEmployeeFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODSdatAppointmentEmployee": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "ODS_CNCT_Apointment_Update",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "ODS_CNCT_datAppointmentEmployee",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_datAppointmentEmployee",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTdatAppointmentEmployee": {
                                        "Object_File_Name": {
                                            "value": "@variables('UpdateddatAppointmentEmployeeFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODSdatAppointmentEmployee": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "LastCreateDate": {
                        "type": "string"
                    },
                    "LastUpdateDate": {
                        "type": "string"
                    },
                    "LARunId": {
                        "type": "string"
                    }
                },
                "variables": {
                    "CreateddatAppointmentEmployeeFileName": {
                        "type": "String"
                    },
                    "SimpleQuote": {
                        "type": "String",
                        "defaultValue": "'"
                    },
                    "UpdateddatAppointmentEmployeeFileName": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Connect/ODS"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:38:01Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ODS_CNCT_lkpSalesCodeDivision')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "lkpSalesCodeDivision_Created",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SF_DL_Created_lkpSalesCodeDivision",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "SF_DL_Updated_lkpSalesCodeDivision",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_lkpSalesCodeDivision",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNCTlkpSalesCodeDivision": {},
                                    "ODSlkpSalesCodeDivision": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "SetCreatelkpSalesCodeDivisionFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "CreatedlkpSalesCodeDivisiontFileName",
                            "value": {
                                "value": "@Replace(concat('Create_lkpSalesCodeDivison_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SetUpdatedlkpSalesCodeDivisionFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "CreatedlkpSalesCodeDivisiontFileName",
                            "value": {
                                "value": "@Replace(concat('Updated_lkpSalesCodeDivision_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SF_DL_Created_lkpSalesCodeDivision",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetCreatelkpSalesCodeDivisionFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM lkpSalesCodeDivision\nWHERE CreateDate >='@{pipeline().parameters.LastCreateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_lkpSalesCodeDivision",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_lkpSalesCodeDivision",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('CreatedlkpSalesCodeDivisiontFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "SF_DL_Updated_lkpSalesCodeDivision",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetUpdatedlkpSalesCodeDivisionFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM lkpSalesCodeDivision\nWHERE LastUpdate >='@{pipeline().parameters.LastUpdateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_lkpSalesCodeDivision",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_lkpSalesCodeDivision",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('UpdatedlkpSalesCodeDivisionFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "lkpSalesCodeDepartment_Updated",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "lkpSalesCodeDivision_Created",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_lkpSalesCodeDivision",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNCTlkpSalesCodeDivision": {},
                                    "ODSlkpSalesCodeDivision": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "LastCreateDate": {
                        "type": "string"
                    },
                    "LastUpdateDate": {
                        "type": "string"
                    },
                    "LARunId": {
                        "type": "string"
                    }
                },
                "variables": {
                    "CreatedlkpSalesCodeDivisiontFileName": {
                        "type": "String"
                    },
                    " SimpleQuote": {
                        "type": "String",
                        "defaultValue": "'"
                    },
                    "UpdatedlkpSalesCodeDivisionFileName": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Connect/ODS"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:37:58Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FactSalesTransaction')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "DimSalesCode",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "DimSalesCodeDepartment",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "DimSalesOrderType",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "DimCustomer",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DimSalesCode",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "DaysToLoad": "1"
                                },
                                "datasetParameters": {
                                    "ODScfgSalesCode": {},
                                    "DimSalesCodeDepartement": {},
                                    "ODSlkpSalesCodeType": {},
                                    "DimSalesCode": {},
                                    "DimSalesCodeUpdate": {},
                                    "DimSalesCodeInsert": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "DimCustomer",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DimCustomer",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "DaysToLoad": "1"
                                },
                                "datasetParameters": {
                                    "ODSDatClient": {},
                                    "DimCenter": {},
                                    "DimGeography": {},
                                    "DimGender": {},
                                    "ODSGender": {},
                                    "DimLanguage": {},
                                    "DimCustomer": {},
                                    "ODSLanguage": {},
                                    "DimCustomerf": {},
                                    "DimCustomerSink": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "DimCustomerMembership",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "DimSalesCode",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DimCustomerMembership",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "DaysToLoad": "1"
                                },
                                "datasetParameters": {
                                    "ODSClientMembership": {},
                                    "DimCustomer": {},
                                    "DimCenter": {},
                                    "DimMembership": {},
                                    "DimDate": {},
                                    "ODSlkpClientMembershipStatus": {},
                                    "DimCustomerMembership": {},
                                    "UpdateDimCustomerMembership": {},
                                    "InsertCustomerMembership": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "FactSalesTransaction",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "DimCustomerMembership",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "FactSalesTransaction",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "DaysToLoad": "1"
                                },
                                "datasetParameters": {
                                    "ODSdatSalesOrderDetail": {},
                                    "ODSdatSalesOrder": {},
                                    "DimSalesCode": {},
                                    "DimCustomerMembershipPrev": {},
                                    "DimCustomerMembership": {},
                                    "DimCenter": {},
                                    "DimSalesOrderType": {},
                                    "DimCustomer": {},
                                    "DimSystemUser": {},
                                    "ODSdatAccumulatorAdjustment": {},
                                    "ODScfgAccumulator": {},
                                    "DimDate": {},
                                    "DimTimeOfDay": {},
                                    "ODSdatAppointment": {},
                                    "ODSdatAppointmentEmployee": {},
                                    "DimSysUser": {},
                                    "FactSalesTransaction": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "DimSalesOrderType",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DimSalesOrderType",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "lkpSalesOrderType": {},
                                    "DimSalesOrderType": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "DimSalesCodeDepartment",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DimSalesCodeDepartment",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "DaysToLoad": "1"
                                },
                                "datasetParameters": {
                                    "ODSSalesCodeDepartment": {},
                                    "ODSSalesCodeDivision": {},
                                    "DimSalesCodeDepartment": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "Synapse"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:38:03Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ODS_CNCT_lkpSalesCodeType')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SF_DL_CreatedlkpSalesCodeType",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetCreatelkpSalesCodeTypeFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM lkpSalesCodeType\nWHERE CreateDate >='@{pipeline().parameters.LastCreateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_lkpSalesCodeType",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_lkpSalesCodeType",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('CreatedlkpSalesCodeTypeFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "SetCreatelkpSalesCodeTypeFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "CreatedlkpSalesCodeTypeFileName",
                            "value": {
                                "value": "@Replace(concat('Create_lkpSalesCodeType_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SetUpdatelkpSalesCodeTypeFileName",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "UpdatedlkpSalesCodeTypeFileName",
                            "value": {
                                "value": "@Replace(concat('Updated_lkpSalesCodeType_', pipeline().RunId, '_',utcnow('yyyy-MM-ddTHH:mm:ss'), '.parquet'), ':','-')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SF_DL_UpdatedlkpSalesCodeType",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SetUpdatelkpSalesCodeTypeFileName",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.20:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT *\nFROM lkpSalesCodeType\nWHERE LastUpdate >= '@{pipeline().parameters.LastUpdateDate}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 10
                        },
                        "inputs": [
                            {
                                "referenceName": "SQL01_DL_lkpSalesCodeType",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DL_CNCT_lkpSalesCodeType",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Object_File_Name": {
                                        "value": "@variables('UpdatedlkpSalesCodeTypeFileName')",
                                        "type": "Expression"
                                    },
                                    "Container": "hc-eim-file-system-bi"
                                }
                            }
                        ]
                    },
                    {
                        "name": "ODS_CNCT_CreatedlkpSalesCodeType",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SF_DL_CreatedlkpSalesCodeType",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "SF_DL_UpdatedlkpSalesCodeType",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_lkpSalesCodeType",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTlkpSalesCodeType": {
                                        "Object_File_Name": {
                                            "value": "@variables('CreatedlkpSalesCodeTypeFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODSlkpSalesCodeType": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "ODS_CNCT_UpdatelkpSalesCodeType",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "ODS_CNCT_CreatedlkpSalesCodeType",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "CNCT_lkpSalesCodeType",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "CNTlkpSalesCodeType": {
                                        "Object_File_Name": {
                                            "value": "@variables('CreatedlkpSalesCodeTypeFileName')",
                                            "type": "Expression"
                                        },
                                        "Container": "hc-eim-file-system-bi"
                                    },
                                    "ODSlkpSalesCodeType": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "LastCreateDate": {
                        "type": "string"
                    },
                    "LastUpdateDate": {
                        "type": "string"
                    },
                    "LARunId": {
                        "type": "string"
                    }
                },
                "variables": {
                    "CreatedlkpSalesCodeTypeFileName": {
                        "type": "String"
                    },
                    "SimpleQuote": {
                        "type": "String",
                        "defaultValue": "'"
                    },
                    "UpdatedlkpSalesCodeTypeFileName": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Connect/ODS"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:37:59Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/test-m')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "FactSalesTransaction",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "FactSalesTransaction",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "DaysToLoad": "3500"
                                },
                                "datasetParameters": {
                                    "ODSdatSalesOrderDetail": {},
                                    "ODSdatSalesOrder": {},
                                    "DimSalesCode": {},
                                    "DimCustomerMembershipPrev": {},
                                    "DimCustomerMembership": {},
                                    "DimCenter": {},
                                    "DimSalesOrderType": {},
                                    "DimCustomer": {},
                                    "DimSystemUser": {},
                                    "ODSdatAccumulatorAdjustment": {},
                                    "ODScfgAccumulator": {},
                                    "DimDate": {},
                                    "DimTimeOfDay": {},
                                    "ODSdatAppointment": {},
                                    "ODSdatAppointmentEmployee": {},
                                    "DimSysUser": {},
                                    "FactSalesTransaction": {}
                                }
                            },
                            "staging": {
                                "linkedService": {
                                    "referenceName": "HC_DataLake",
                                    "type": "LinkedServiceReference"
                                },
                                "folderPath": "hc-eim-file-system-bi-staging"
                            },
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:38:03Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/CBP_Franchise')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute_extClosingByPerformer_Franchise_forADF",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": "Select *  from dbo.ClosingByPerformer_Franchise_forADF",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "CBP_dataset",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CBP_CSV",
                                "type": "DatasetReference",
                                "parameters": {
                                    "File": {
                                        "value": "CBPReport_Post_Migration_Franchise_@{replace(adddays(utcnow(), -1, 'yyyy-MM-dd'), '-', '')}.csv",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "Reporting"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-04T17:12:14Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/CBP_Corporate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute_extClosingByPerformer_Corporate_forADF",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": "Select *  from dbo.ClosingByPerformer_Corporate_forADF",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "CBP_dataset",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CBP_CSV",
                                "type": "DatasetReference",
                                "parameters": {
                                    "File": {
                                        "value": "CBPReport_Post_Migration_Corporate_@{replace(adddays(utcnow(), -1, 'yyyy-MM-dd'), '-', '')}.csv",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "Reporting"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-04T17:12:14Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DailyProcessTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "DailyProcess",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2021-06-17T04:53:00Z",
                        "timeZone": "UTC",
                        "schedule": {
                            "minutes": [
                                30
                            ],
                            "hours": [
                                5
                            ]
                        }
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LASSRProcess')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "DailyProcess",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "DailyProcess",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "FactSalesTransaction",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "DailyProcess",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FactSalesTransaction",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "Synapse"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-15T16:38:07Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/FactSalesTransaction')]"
            ]
        }
    ]
}