LogicApps/HC-EIM-MarketingAgencies-Automation-SharedMB.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "AgencyID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AgencyID",
                            "type": "integer"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Condition": {
                "actions": {
                    "Set_variable": {
                        "inputs": {
                            "name": "AgencyID",
                            "value": "@body('Get_Agency_Id')?['resultsets']['Table1'][0]['AgencyKey']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Switch": {
                        "cases": {
                            "Case": {
                                "actions": {
                                    "Intermedia": {
                                        "actions": {
                                            "Condition_2": {
                                                "actions": {
                                                    "Create_a_pipeline_run": {
                                                        "inputs": {
                                                            "body": {
                                                                "AgencyID": "@{variables('AgencyID')}",
                                                                "FileName": "@{items('Intermedia')?['name']}",
                                                                "LA_ID": "@{workflow().run.name}",
                                                                "SheetName": "DATA"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/subscriptions/@{encodeURIComponent('7e152566-0ba7-49c2-acac-ebbb5becd265')}/resourcegroups/@{encodeURIComponent('HCEIMProductionRSG')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('HCProdDF')}/pipelines/@{encodeURIComponent('Television')}/CreateRun",
                                                            "queries": {
                                                                "x-ms-api-version": "2017-09-01-preview"
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Create_blob": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection"
                                                    },
                                                    "Create_blob": {
                                                        "inputs": {
                                                            "body": "@base64ToBinary(items('Intermedia')?['contentBytes'])",
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/datasets/default/files",
                                                            "queries": {
                                                                "folderPath": "@{Concat(string('/hc-eim-filesystem-prod/MarketingAgencies/'), variables('AgencyID'),'/',workflow().run.name)}",
                                                                "name": "@items('Intermedia')?['name']",
                                                                "queryParametersSingleEncoded": true
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        },
                                                        "type": "ApiConnection"
                                                    }
                                                },
                                                "expression": {
                                                    "or": [
                                                        {
                                                            "equals": [
                                                                "@endsWith(items('Intermedia')?['name'], '.xlsx')",
                                                                "@true"
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@endsWith(items('Intermedia')?['name'], '.xls')",
                                                                "@true"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {},
                                                "type": "If"
                                            }
                                        },
                                        "foreach": "@triggerBody()?['attachments']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "case": 52
                            },
                            "Case_2": {
                                "actions": {
                                    "Cannella": {
                                        "actions": {
                                            "Condition_3": {
                                                "actions": {
                                                    "Create_a_pipeline_run_2": {
                                                        "inputs": {
                                                            "body": {
                                                                "AgencyID": "@{variables('AgencyID')}",
                                                                "FileName": "@{items('Cannella')?['name']}",
                                                                "LA_ID": "@{workflow().run.name}"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/subscriptions/@{encodeURIComponent('7e152566-0ba7-49c2-acac-ebbb5becd265')}/resourcegroups/@{encodeURIComponent('HCEIMProductionRSG')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('HCProdDF')}/pipelines/@{encodeURIComponent('Canella')}/CreateRun",
                                                            "queries": {
                                                                "x-ms-api-version": "2017-09-01-preview"
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Create_blob_2": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection"
                                                    },
                                                    "Create_blob_2": {
                                                        "inputs": {
                                                            "body": "@base64ToBinary(items('Cannella')?['contentBytes'])",
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/datasets/default/files",
                                                            "queries": {
                                                                "folderPath": "@{Concat(string('/hc-eim-filesystem-prod/MarketingAgencies/'), variables('AgencyID'),'/',workflow().run.name)}",
                                                                "name": "@items('Cannella')?['name']",
                                                                "queryParametersSingleEncoded": true
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        },
                                                        "type": "ApiConnection"
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@endsWith(items('Cannella')?['name'], '.txt')",
                                                                "@true"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {},
                                                "type": "If"
                                            }
                                        },
                                        "foreach": "@triggerBody()?['attachments']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "case": 112
                            },
                            "Case_3": {
                                "actions": {
                                    "Havas": {
                                        "actions": {
                                            "Condition_4": {
                                                "actions": {
                                                    "Create_a_pipeline_run_3": {
                                                        "inputs": {
                                                            "body": {
                                                                "AgencyID": "@{variables('AgencyID')}",
                                                                "FileName": "@{items('Havas')?['name']}",
                                                                "LA_ID": "@{workflow().run.name}"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/subscriptions/@{encodeURIComponent('7e152566-0ba7-49c2-acac-ebbb5becd265')}/resourcegroups/@{encodeURIComponent('HCEIMProductionRSG')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('HCProdDF')}/pipelines/@{encodeURIComponent('Havas')}/CreateRun",
                                                            "queries": {
                                                                "x-ms-api-version": "2017-09-01-preview"
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Create_blob_3": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection"
                                                    },
                                                    "Create_blob_3": {
                                                        "inputs": {
                                                            "body": "@items('Havas')",
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/datasets/default/files",
                                                            "queries": {
                                                                "folderPath": "@{Concat(string('/hc-eim-filesystem-prod/MarketingAgencies/'), variables('AgencyID'),'/',workflow().run.name)}",
                                                                "name": "@items('Havas')?['name']",
                                                                "queryParametersSingleEncoded": true
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        },
                                                        "type": "ApiConnection"
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@endsWith(items('Havas')?['name'], 'havas.tab')",
                                                                "@true"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {},
                                                "type": "If"
                                            }
                                        },
                                        "foreach": "@triggerBody()?['attachments']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "case": 4
                            }
                        },
                        "default": {
                            "actions": {}
                        },
                        "expression": "@body('Get_Agency_Id')?['resultsets']['Table1'][0]['AgencyKey']",
                        "runAfter": {
                            "Set_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "Switch"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@empty(body('Get_Agency_Id')?['resultsets'])",
                                    "@true"
                                ]
                            }
                        },
                        {
                            "not": {
                                "equals": [
                                    "@split(triggerBody()?['from'], '@')[1]",
                                    "@string('datorama.com')"
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Get_Agency_Id": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Get_Agency_Id": {
                "inputs": {
                    "body": {
                        "query": "Select top 1 AgencyKey, AgencyName from dbo.DimAgency\nwhere AgencyDomain = '@{split(triggerBody()?['from'], '@')[1]}'\n"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sqldw_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/query/sql"
                },
                "runAfter": {
                    "AgencyID": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_email_arrives_(V3)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/SharedMailbox/Mail/OnNewEmail",
                    "queries": {
                        "folderId": "Inbox",
                        "hasAttachments": true,
                        "importance": "Any",
                        "includeAttachments": true,
                        "mailboxAddress": "agencydatafeed@hairclub.com"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProductionRSG/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/azureblob"
                },
                "azuredatafactory": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProductionRSG/providers/Microsoft.Web/connections/azuredatafactory",
                    "connectionName": "azuredatafactory",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/azuredatafactory"
                },
                "office365": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProductionRSG/providers/Microsoft.Web/connections/office365-3",
                    "connectionName": "office365-3",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/office365"
                },
                "sqldw_1": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProductionRSG/providers/Microsoft.Web/connections/sqldw-1",
                    "connectionName": "sqldw-1",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/sqldw"
                }
            }
        }
    }
}