LogicApps/HC-EIM-TriggerADF-FactLead.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "inputs": "@workflow()",
                "runAfter": {
                    "Get_Last_ModifiedDate_From_FactLead_Table": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Create_a_pipeline_run": {
                "inputs": {
                    "body": {
                        "LARunId": "@{workflow().run.name}",
                        "LastCreatedLeadDate": "@{replace(body('Get_Last_CreationDate_From_FactLead_Table')?['resultsets']?['Table1'][0]['CreationDate'], 'T', ' ')}",
                        "LastUpdatedLeadDate": "@{replace(body('Get_Last_ModifiedDate_From_FactLead_Table')?['resultsets']?['Table1'][0]['ModifiedDate'], 'T', ' ')}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/subscriptions/@{encodeURIComponent('7e152566-0ba7-49c2-acac-ebbb5becd265')}/resourcegroups/@{encodeURIComponent('HCEIMProductionRSG')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('HCProdDF')}/pipelines/@{encodeURIComponent('FactLeadProd')}/CreateRun",
                    "queries": {
                        "x-ms-api-version": "2017-09-01-preview"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_Last_CreationDate_From_FactLead_Table": {
                "inputs": {
                    "body": {
                        "query": "SELECT MAX (CreationDate) as CreationDate FROM dbo.FactLead"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sqldw']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/query/sql"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Get_Last_ModifiedDate_From_FactLead_Table": {
                "inputs": {
                    "body": {
                        "query": "SELECT MAX (LastModifiedDate) as ModifiedDate FROM dbo.FactLead"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sqldw']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/query/sql"
                },
                "runAfter": {
                    "Get_Last_CreationDate_From_FactLead_Table": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1,
                    "timeZone": "UTC"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuredatafactory": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProductionRSG/providers/Microsoft.Web/connections/azuredatafactory",
                    "connectionName": "azuredatafactory",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/azuredatafactory"
                },
                "sqldw": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProductionRSG/providers/Microsoft.Web/connections/sqldw",
                    "connectionName": "sqldw",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/sqldw"
                }
            }
        }
    }
}