LogicApps/HC-Prod-TriggerADF-BP-ODS-Tables.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "ODS_BP_Agents_Activity": {
                "actions": {
                    "Execute_ODS_Agents_Activity_Pipeline": {
                        "inputs": {
                            "body": {
                                "LastAgentActivityPkID": "@{body('Get_Max_PKID_AgentActivity')?['resultsets']?['Table1'][0]['pkid']}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/subscriptions/@{encodeURIComponent('7e152566-0ba7-49c2-acac-ebbb5becd265')}/resourcegroups/@{encodeURIComponent('HCEIMProdRSG')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('hc-eim-df-prod2')}/pipelines/@{encodeURIComponent('ODS_BP_AgentActivity')}/CreateRun",
                            "queries": {
                                "x-ms-api-version": "2017-09-01-preview"
                            }
                        },
                        "runAfter": {
                            "Get_Max_PKID_AgentActivity": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Get_Max_PKID_AgentActivity": {
                        "inputs": {
                            "body": {
                                "query": "Select max(pkid) as pkid from [ODS].[BP_AgentsActivity]"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sqldw']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/query/sql"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "runAfter": {
                    "ODS_BP_Call_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Scope"
            },
            "ODS_BP_Call_Details": {
                "actions": {
                    "Create_a_pipeline_run": {
                        "inputs": {
                            "body": {
                                "LastCallDetailPkID": "@{body('Get_Last_PkID_ODS_BP_CallDetail')?['resultsets']?['Table1'][0]['pkid']}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/subscriptions/@{encodeURIComponent('7e152566-0ba7-49c2-acac-ebbb5becd265')}/resourcegroups/@{encodeURIComponent('HCEIMProdRSG')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('hc-eim-df-prod2')}/pipelines/@{encodeURIComponent('ODS_BP_CallDetail')}/CreateRun",
                            "queries": {
                                "x-ms-api-version": "2017-09-01-preview"
                            }
                        },
                        "runAfter": {
                            "Get_Last_PkID_ODS_BP_CallDetail": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Get_Last_PkID_ODS_BP_CallDetail": {
                        "inputs": {
                            "body": {
                                "query": "Select max(pkid) as pkid from [ODS].[BP_CallDetail]"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sqldw_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/query/sql"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "runAfter": {},
                "type": "Scope"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "startTime": "2022-02-05T08:00:00Z",
                    "timeZone": "Eastern Standard Time"
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "startTime": "2022-02-05T08:00:00Z",
                    "timeZone": "Eastern Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuredatafactory": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProdRSG/providers/Microsoft.Web/connections/azuredatafactory",
                    "connectionName": "azuredatafactory",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/azuredatafactory"
                },
                "sqldw": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProdRSG/providers/Microsoft.Web/connections/sqldw",
                    "connectionName": "sqldw",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/sqldw"
                },
                "sqldw_1": {
                    "connectionId": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/resourceGroups/HCEIMProdRSG/providers/Microsoft.Web/connections/sqldw",
                    "connectionName": "sqldw",
                    "id": "/subscriptions/7e152566-0ba7-49c2-acac-ebbb5becd265/providers/Microsoft.Web/locations/eastus2/managedApis/sqldw"
                }
            }
        }
    }
}